header {
	height: 100px;
	margin-bottom: 10px;
}
.navbar {
	height: 100%;
}
.navbar-header {
	width: 100%;
}
.navbar-toggler {
	float: right;
	margin-top: 20px;
	margin-bottom: 20px;
}
#nav-list {
	margin-top: 10px; 
}
#nav-list a {
	text-align: right;
	color: black;
}
.navbar-light .navbar-nav .nav-link {
	color: black;
}
nav {
	background-color: gray;
}
.navbar-brand {
	font-size: 275%;
	margin-bottom: 20px;
	width: 75%;
	margin-top: 10px;
	font-family: Times New Roman, sans-serif;
}
li a {
	text-align: center;
	border-style: solid;
	border: 1px black;
}
body {
	margin: 0;
}
#Me {
	width: 20%;
	height: 20%;
	margin-right: 50px;
	margin-left: 50px;
}
h2 {
	text-align: center;
}
#About {
	width: 70%;
	height: 20%;
}